<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="StudentInfoSystem.Properties.Settings.DbConnect" connectionString="Data Source=THEBEASTV2\SQLEXPRESS;Initial Catalog=StudentInfoDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>